@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

#footer a {
  text-decoration: none;
  color: #fff;
}

/* Footer section start */
footer {
  padding: 1.5rem 0;
  background-color: #182334;
  color: #fff;
}
footer h2 {
  color: #fff;
  font-size: 1.5rem;
}
footer li {
  list-style: none;
  font-size: 1rem;
  font-weight: lighter;
  color: #fff;
  cursor: pointer;
  margin: 1rem 0;
}
footer .main-hero-para {
  margin: 0;
}
footer .fontawsome-style {
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: transparent;
  width: 0rem;
  height: 0rem;
  margin: 2rem 0;
  cursor: pointer;
}

footer .fontawsome-style:hover {
  transition: all 1s;
  animation: rotatefont 1s linear infinite alternate-reverse;
  color: #fff;
}
@keyframes rotatefont {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1.2);
  }
}
.logo {
  border-radius: 5px;
  box-shadow: 7px 7px #182334;
}
.logo:hover {
  transition: all 1s;
  animation: rotatefont 1s linear infinite alternate-reverse;
}

/* Footer section ends */

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(181 173 173 / 10%);
}
